
enel453lab1.qpf
devkits/readme.txt
devkits/DE10_LITE_Golden_Top/qar_info.json
devkits/DE10_LITE_Golden_Top/platform_setup.tcl
devkits/DE10_LITE_Golden_Top/filelist.txt
devkits/DE10_LITE_Golden_Top/DE10_LITE_Golden_Top.v
db/top_level.db_info
db/enel453lab1.quiproj.1948.rdr.flock
top_level.qsf
top_level.qsf
*.qsf
top_level.qsf
*.logdb
*.flock
*.kpt
*.qmsg
*.cdb
*.txt
*.hdb
*.rdb
*.ddb
*.xml
*.bpm
*.idb
*.hier_info
*.html
*.hif
*.ammdb
*.nvd
*.sci
*.tdb
*.tmw_info
*.hsd
*.json
*.db_info
*.dfp
*.rcfdb
*.dpi
*.hb_info
*.sig
incremental_db/README
*.rpt
*.done
*.smsg
*.summary
*.jdi
*.pin
*.qsf
*.sof
*.sld
*.pof
