
devkits/readme.txt
devkits/DE10_LITE_Golden_Top/qar_info.json
devkits/DE10_LITE_Golden_Top/platform_setup.tcl
devkits/DE10_LITE_Golden_Top/filelist.txt
devkits/DE10_LITE_Golden_Top/DE10_LITE_Golden_Top.v
db/top_level.db_info
db/enel453lab1.quiproj.1948.rdr.flock
top_level.qsf
top_level.qsf
*.qsf
top_level.qsf
*.logdb
*.flock
*.kpt
*.qmsg
*.cdb
*.txt
*.hdb
*.rdb
*.ddb
*.xml
*.bpm
*.idb
*.hier_info
*.html
*.hif
*.ammdb
*.nvd
*.sci
*.tdb
*.tmw_info
*.hsd
*.json
*.db_info
*.dfp
*.rcfdb
*.dpi
*.hb_info
*.sig
incremental_db/README
*.rpt
*.done
*.smsg
*.summary
*.jdi
*.pin
*.qsf
*.sof
*.sld
*.pof
*.bak
*.qws


top_level.qws

work/_vmake
work/_vmake
work/_lib1_4.qtl
work/_lib1_3.qtl
Lab1.mpf
Lab1.mpf
transcript
vsim.wlf
work/_info
work/_lib.qdb
work/_lib1_3.qdb
work/_lib1_3.qpg
work/_lib1_3.qtl
work/_lib1_4.qdb
work/_lib1_4.qpg
work/_lib1_6.qpg
work/_lib1_6.qtl
work/_lib1_6.qdb
work/_lib1_4.qtl
work/_lib1_4.qpg
work/_lib1_4.qdb
work/_lib.qdb
work/_info
vsim.wlf
transcript
modelsim.ini
lab1testmux.mpf
lab1testmux.cr.mti
